body {
    background-color: #ABFFFF;
}

.hidden {
    display: none
}

#stuffcontainer {
    color: #052B2B;
}
.container {
    font-size: 50px;
}
h3 {
    font-size: 60px;
}
.jumbotron {
    background-color: #1BFFFF;
}